@font-face {
    font-family: 'Glittery';
    src: url('../font/GlitterySnowfall.eot');
    src: url('../font/GlitterySnowfall.eot?#iefix') format('embedded-opentype'),
        url('../font/GlitterySnowfall.woff2') format('woff2'),
        url('../font/GlitterySnowfall.woff') format('woff'),
        url('../font/GlitterySnowfall.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

